@import "tailwindcss";

:root {
  --ui-space-1: 0.25rem;
  --ui-space-2: 0.5rem;
  --ui-space-3: 0.75rem;
  --ui-space-4: 1rem;
  --ui-space-5: 1.5rem;
  --ui-space-6: 2rem;
  --ui-radius-1: 0.375rem;
  --ui-radius-2: 0.75rem;
  --ui-radius-3: 1.5rem;
  --ui-size-1: 2rem;
  --ui-size-2: 3rem;
  --ui-size-3: 4.5rem;
}
